{% extends "catalog/base.html" %}
{% block title %} Homepage {% endblock title %}
{% block content %}


<p class="text-muted" align="center">Вы находитесь на сайте, предназначенном для продажи товаров
</p>

<div class="row">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card" style="height: 250px ">
            <div class="card-body">
                <h5 class="card-header" align="center"> {{ object.product_name }}</h5>
                <h4 style="margin-top:20px" align="center"> {{ object.price }} руб</h4>
                <p class="card-text"> {{ object.product_description }} </p>
            </div>
            <button type="button" class="btn btn-outline-primary">Купить</button>
        </div>
    </div>


    {% endfor %}
</div>
{% endblock content %}