{% extends "catalog/base.html" %}
{% block title %} Homepage {% endblock title %}
{% block content %}

<div class="col">
    <div class="row mt-5">
        <h3 align="center">Главная</h3>
        <p class="text-muted" align="center">Вы находитесь на сайте, предназначенном для продажи товаров
        </p>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header" align="center">Товар 1</h5>
                    <h2 align="center">$ 100</h2>
                    <p class="card-text"> 10 Users included, 2GB of storage, Email support, Help center
                        access</p>
                </div>
                <button type="button" class="btn btn-outline-primary">Купить</button>

            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header" align="center">Товар 2</h5>
                    <h2 align="center">$ 100</h2>
                    <p class="card-text"> 10 Users included, 2GB of storage, Email support, Help center
                        access</p>
                </div>
                <button type="button" class="btn btn-outline-primary" align="center">Купить</button>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-header" align="center">Товар 3</h5>
                    <h2 align="center">$ 100</h2>
                    <p class="card-text"> 10 Users included, 2GB of storage, Email support, Help center
                        access</p>
                </div>
                <button type="button" class="btn btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}