{% extends "catalog/base.html" %}
{% block title %} Homepage {% endblock title %}
{% block content %}
{% load tags_filters %}

<p class="text-muted" align="center">Вы находитесь на сайте, предназначенном для продажи товаров
</p>

{% if user.is_authenticated %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'product_create' %}"> Добавить товар </a>
</div>
{% endif %}

<div style="margin-left:50px" class="row mb-5">
    {% for object in object_list %}
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                {% if object.preview %}
                <img src="{{ object.preview|mediapath}}" class="card-img-top">
                {% else %}
                <img src="/media/skoro-foto-650x650.jpg" class="card-img-top">
                {%endif%}

                <h5><p class="card-title"> {{ object.name }} </p></h5>
                <h6><p class="card-text">Цена: {{ object.price }} руб</p></h6>
                <p>{{ object.description|truncatechars:100 }}</p>
                <div class="row">
                    <div class="col-3">
                        <a href="{% url 'product_view' object.pk %}" class="btn btn-outline-secondary">View</a>
                    </div>
                </div>

                {% for version_item in object.version_set.all %}
                {% if version_item.is_actual %}
                <div class="card-footer">
                    <p>Актуальная версия: {{ version_item.name }} - номер {{ version_item.version_number }} </p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}